# IntelliJ Support Files
.idea/
*.iml

# NetBeans Support Files
nbactions.xml
nb-configuration.xml

# Build Output Folders
target/
build/

# Local Test Configuration
/*/src/test/resources/local.properties
